@model BioWiseV2.Models.TransportUsage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TransportUsage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transport_type" class="control-label">Vervoersmiddel</label>
                <select class="form-control" id="Transport_type" name="Transport_type">
                    <option>Selecteer vervoersmiddel</option>
                    <option>Trein</option>
                    <option>Auto</option>
                    <option>Fiets</option>
                    <option>Boot</option>
                    <option>Vliegtuig</option>
                    <option>Anders....</option>
                </select>
                <span asp-validation-for="Transport_type" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Transport_type" class="control-label"></label>
                <input asp-for="Transport_type" class="form-control" />
                <span asp-validation-for="Transport_type" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Emmission_KM" class="control-label"></label>
                <input asp-for="Emmission_KM" class="form-control" />
                <span asp-validation-for="Emmission_KM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumerId" class="control-label"></label>
                <select asp-for="ConsumerId" class ="form-control" asp-items="ViewBag.ConsumerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Weekly_reportId" class="control-label"></label>
                <select asp-for="Weekly_reportId" class ="form-control" asp-items="ViewBag.Weekly_reportId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<select class="form-control" id="StudentGender" name="StudentGender">
    <option>Select Gender</option>
    <option>Male</option>
    <option>Female</option>
</select>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
