@model BioWiseV2.Models.Goal

@{
    ViewData["Title"] = "Create";
}

<h1>Het aanmaken van een nieuw doel</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Personalgoal" style="display:none" class="control-label"></label>
                Uw doel: <input asp-for="Personalgoal" class="form-control" />
                <span asp-validation-for="Personalgoal" class="text-danger"></span>
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="Impact" style="display:none" class="control-label"></label>
                Uitstoot (gram CO2 per kilometer): <input asp-for="Impact" class="form-control" />
                <span asp-validation-for="Impact" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="ConsumerId" class="control-label"></label>
                <select asp-for="ConsumerId" class ="form-control" asp-items="ViewBag.ConsumerId"></select>
            </div>*@
            <br />
            <div class="form-group">
                <input type="submit" value="Doel aanmaken" class="btn btn-success" style="width: 10rem" /> &nbsp; <input onclick="window.location.href='../voortgang'" value="Terug" class="btn btn-danger" style="width: 10rem" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
